body {
    background-color: rgba(47, 84, 103, 0.8);
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    color: #edf2ee;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
}

.p-header {
    color: #edf2ee;
    text-align: center;
    margin-top: -20px;
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    padding: 2.5rem;
    background-color: rgba(29, 73, 32, 0.3);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
}

div {
    padding: 1rem;
    font-size: 25px;
    margin: 0 20px;
}

label {
    display: block;
    color: #edf2ee;
    margin-bottom: 7px;
    font-size: 30px;
}

.bold {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 25px;
    font-size: 20px;
    color: black;
}

input[type="number"] {
    width: 10%;
    padding: 0.5rem;
    margin-bottom: 25px;
    font-size: 20px;
    color: black;
}

select {
    width: 20%;
    padding: 0.5rem;
    margin-bottom: 25px;
    font-size: 20px;
    color: black;
}

input::placeholder,
textarea::placeholder {
    color: rgba(0, 0, 0, 0.210); /* Adjust the transparency as needed */
}

.relationship,
.enjoy {
    margin-top: -20px;
    margin-left: -5px;
    font-size: 20px;
}

textarea {
    font-size: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit {
    background-color: #747871;
    font-size: 25px;
    width: 100%;
    border: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    body {
        font-size: 18px; 
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 20px; 
    }
}